@charset "utf-8";
/* CSS Document */

body,p,ul,ol,li,h1,h2,h3,h4,h5,h6,span{ margin:0; padding:0;}
ul{ list-style:none;}
a{ text-decoration:none;}
em{ font-style:normal;}
img{ border:none; vertical-align:middle;/*图片下方莫名间距*/}

/*请浮动*/
.clearfix:after{ content:""; display: block; clear:both;}
.clearfix{ zoom:1;}

.gWidth{ width:945px; margin-left:auto; margin-right:auto; }